<ion-view ng-controller="HomeController" view-title="Duty Schedule">
  <ion-nav-buttons side="primary">
    <button class="button">
      Drop
    </button>

  </ion-nav-buttons>
  <ion-content class="has-tabs" >
    <div class="row" ng-repeat="(startTime, mapping) in startTimes" ng-if="loading == false">
      <div class="col col-20">
        {{startTime}}
      </div>
      <div ng-if="mapping['yih'] !== undefined"
        class="col col-40"
        on-touch="touchDuty(mapping['yih'])"
        on-hold="holdDuty(mapping['yih'])"
        ng-style="{'background-color': getColor(mapping['yih'])}">
        {{users[mapping["yih"]["supervisor"]].name}}
      </div>
      <div ng-if="mapping['cl'] !== undefined"
        class="col col-40"
        on-touch="touchDuty(mapping['cl'])"
        on-hold="holdDuty(mapping['cl'])"
        ng-style="{'background-color': getColor(mapping['cl'])}">
        {{users[mapping["cl"]["supervisor"]].name}}
      </div>
    </div>
  </ion-content>
  <ion-footer-bar class="bar-stable">
    <div class="buttons">
      <button class="button" ng-click='prevDay()'>Prev</button>
    </div>
    <h1 class="title"> {{date | date:'EEEE, d MMMM yyyy'}}</h1>
    <div class="buttons">
      <button class="button" ng-click='nextDay()'>Next</button>
    </div>
  </ion-footer-bar>
</ion-view>
