<ion-view ng-controller="HomeController as homeController" view-title="Duty Schedule">
  <ion-nav-buttons side="primary">
    <button
      class="button"
      ng-click="homeController.dropSelected()"
      ng-if="homeController.getSelectionType() == 'OWN_ACTIVE'">
      Drop
    </button>
    <button class="button" ng-click="homeController.grabSelected()"
      ng-if="homeController.getSelectionType() == 'FREE'">
      Grab
    </button>

  </ion-nav-buttons>
  <ion-content class="has-tabs" >
    <div class="row"
      ng-repeat="time in homeController.getUniqueTimes()"
      ng-if="homeController.loading == false">
      <div class="col col-20">
        {{homeController.formatTime(time)}}
      </div>
      <div class="col col-40"
        on-touch="homeController.touchDuty(homeController.getDuty(time, 'cl'))"
        on-hold="homeController.holdDuty(homeController.getDuty(time, 'cl'))"
        ng-style="{'background-color': homeController.getColor(homeController.getDuty(time, 'cl'))}">
        {{homeController.getSupervisor(homeController.getDuty(time, "cl")).name}}
      </div>
      <div class="col col-40"
        on-touch="homeController.touchDuty(homeController.getDuty(time, 'yih'))"
        on-hold="homeController.holdDuty(homeController.getDuty(time, 'yih'))"
        ng-style="{'background-color': homeController.getColor(homeController.getDuty(time, 'yih'))}">
        {{homeController.getSupervisor(homeController.getDuty(time, "yih")).name}}
      </div>
    </div>
  </ion-content>
  <ion-footer-bar class="bar-stable">
    <div class="buttons">
      <button class="button" ng-click='homeController.prevDay()'>Prev</button>
    </div>
    <h1 class="title"> {{homeController.currentDate.format('dddd, D MMMM YYYY')}}</h1>
    <div class="buttons">
      <button class="button" ng-click='homeController.nextDay()'>Next</button>
    </div>
  </ion-footer-bar>
</ion-view>
